.bl{
    background-color: aqua;
    padding-left: 50;
    text-align: left;
    border-width: 50;
}
#td{
    background-color: azure;
    padding-left: 50;
    text-align: left;
    text-size-adjust: 40;
}
#td1:hover{
    background-color: grey;
    padding-left: 50;
    text-align: left;
    text-size-adjust: 40;
    

}
#td2{
    background-color: azure;
    padding-left: 50;
    text-align: left;
    text-size-adjust: 40;
}
#td3:hover{
    background-color: grey;
    padding-left: 50;
    text-align: left;
    text-size-adjust: 40;
}

.iconcolor {
    color: white;
    font-size: 20px;
}